<tr>
  <td colspan="2" class="content_table_title">
    <b>ページ管理</b>
  </td>
</tr>
<tr>
  <th valign="top" nowrap>ID<font color="red">※</font></th>
  <td><%= h @page.page_id %></td>
      <%= f.hidden_field :page_id %>
</tr>
<tr>
  <th valign="top" nowrap>タイトル</th>
  <td><%= h @page.title %></td>
      <%= f.hidden_field :title %>
</tr>
<tr>
<th valign="top" nowrap>本文<font color="red">※</font></th>
  <td><%= br(text_escape(@page.body.untaint)) %></td>
      <%= f.hidden_field :body %>
</tr>
