<div id="footer_bar">
</div>

<div id="footer_menu">
  [<%= link_to "ホーム", root_path %>]
  [ <%= link_to "このサイトについて", page_path("about") %> ]
  [ <%= link_to "プライバシーポリシー", page_path("privacy") %> ]
  [ <%= link_to "個人情報の取り扱いについて", page_path("privacy2") %> ]
  [ <%= link_to "利用規約", page_path("rules") %> ]
  [ <%= link_to "会員規約", page_path("member_rules") %> ]
  [ <%= link_to "使い方", page_path("entrance") %> ]
  [ <%= link_to "お問い合わせ", new_ask_path %> ]
</div>

<div id="footer_bar2">
</div>

<div id="copyright">
Copyright (c) 2007 MatsueSNS all rights reserved.<br />
このサイトはオープンソースソフトウェアの<a href="http://www.ruby-lang.org/">Ruby</a>で構築されています。
</div>
