<tr>
  <td class="content_table_title" colspan="2">お問い合わせ・要望事項</td>
</tr>
<tr>
  <th>[お名前]<%= font_coution('※') %></th>
  <td>
    <%=h @user.full_real_name %>
    <%= f.hidden_field :last_real_name %>
    <%= f.hidden_field :first_real_name %>
  </td>
</tr>
<tr>
  <th><%= display_form_attr_name(User, "login") %></th>
  <td>
    <%=h @user.login %>
    <%= f.hidden_field :login %>
  </td>
</tr>
<tr>
  <th><%= display_form_attr_name(User, "ask_body", :force_presence_mark => true) %></th>
  <td>
    <%= hbr @user.ask_body %>
    <%= f.hidden_field :ask_body %>
  </td>
</tr>

<% if logged_in? %>
  <tr>
    <td class="content_table_title" colspan="2">システム不具合・エラー状況</td>
  </tr>
  <tr>
    <th><%= display_form_attr_name(User, "errored_at") %></th>
    <td>
      <%=h @user.errored_at %>
      <%= f.hidden_field :errored_at %>
    </td>
  </tr>
  <tr>
    <th><%= display_form_attr_name(User, "error_page_url") %></th>
    <td>
      <%=h @user.error_page_url %>
      <%= f.hidden_field :error_page_url %>
    </td>
  </tr>
  <tr>
    <th><%= display_form_attr_name(User, "error_repeatability") %></th>
    <td>
      <%= t("user.error_repeatability_label.#{@user.error_repeatability_name}") unless @user.error_repeatability_name.blank? %>
      <%= f.hidden_field :error_repeatability %>
    </td>
  </tr>
  <tr>
    <th><%= display_form_attr_name(User, "error_message") %></th>
    <td>
      <%= hbr @user.error_message %>
      <%= f.hidden_field :error_message %>
    </td>
  </tr>
<% end %>
