<tr>
  <td class="content_table_title" colspan="2">トモダチグループ</td>
</tr>
<tr>
  <th>[<%=h Group.human_attribute_name("name") %>]<%= font_coution "※" %></th>
  <td>
    <%= h @group.name %>
    <%= f.hidden_field :name %>
  </td>
</tr>
<% if params[:back_to] %>
  <%= hidden_field_tag "back_to", params[:back_to] %>
<% end %>
