<%= render :partial => "header" %>

<center>
  <%= render :partial => "/share/form", :locals => {:display_round_box_opts => {:width => "510px"}} %>

  <% if %w(new create confirm_before_create).include?(action_name) %>
    <div align="center" style="margin: 10px; font-weight: bold;">登録グループ一覧</div>

    <% display_round_box(:width => "510px") do %>
      <% if @groups.count.zero? %>
        <div class="no_data">登録がありません</div>
      <% else %>

        <table class="content_table">
          <tr>
            <td style="background-color:#F9F9F4;" nowrap=""><%= link_for_sort("グループ名", :order => Group.default_index_order) %></td>
            <td style="background-color:#F9F9F4;" nowrap="">トモダチ数</td>
            <td style="background-color:#F9F9F4;" nowrap="">グループメンバー管理</td>
            <td style="background-color:#F9F9F4;" nowrap="">編集</td>
            <td style="background-color:#F9F9F4;" nowrap="">&nbsp;</td>
          </tr>
          <% @groups.each do |group| %>
            <tr>
              <td><%= h group.name %></td>
              <td><%= h group.friends.count %></td>
              <td><%= link_to("グループメンバー管理", member_list_group_path(group)) %></td>
              <td><%= link_to("編集", edit_group_path(group)) %></td>
              <td><%= link_to("削除", group_path(group), :method => :delete, :confirm => "このグループで設定してあるブログは全て[非公開or下書き]になります。削除してよろしいですか？") %></td>
            </tr>
          <% end %>
        </table>
      <% end %>
    <% end %>
  <% end %>
</center>
