<tr class="">
  <td class="content_table_title" colspan="2">ユーザ情報変更</td>
</tr>
<tr>
  <th>
    <%=h User.human_attribute_name("login") %>※
  </th>
  <td>
    <%= f.text_field :login %>
  </td>
</tr>
<tr>
  <th>
    <%=h User.human_attribute_name("current_password") %>※
  </th>
  <td>
    <%= f.password_field :current_password, :value => "" %>
  </td>
</tr>
<tr>
  <th>
    新しいパスワード
  </th>
  <td>
    <%= f.password_field :password, :value => "" %><br/>
    <%= f.password_field :password_confirmation, :value => "" %>
  </td>
</tr>
